<% files.forEach((file) => { %>
    <li>
        <a href="/<%=currentUser.id%>/file/<%=file.id%>">
            <h3><%= file.name %></h3>
            <p>Size: <%= file.fileSize %></p>
        </a>
        <a href="#">update</a>
        <form action="/<%=currentUser.id%>/file/<%=file.id%>/deleteFile" method="post">
            <input type="text" value="<%=file.id%>" name="fileId" readonly hidden required>
            <button type="submit">Delete</button>
        </form>
    </li>
<% }); %>