<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <ul>
            <%- include('./partials/folderList.ejs') %>
            <%- include('./partials/fileList.ejs') %>
        </ul>
        <a href="/<%=currentUser.id%>/addfile">Add File</a>
        <a href="/<%=currentUser.id%>/addfolder">Add Folder</a>
        <a href="/logout">Log Out</a>
    </body>
</html>