<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
    </head>
    <body>
        <h1><%=title%></h1>
        <form action="updateFolder" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" maxlength="20" value="<%=currentFolder.name%>" required>
            <label for="parentFolder">Parent Folder:</label>
            <select name="parentFolderId" id="parentFolder" required>
                <% folders.forEach((folder) => { %>
                    <% if(currentFolder.parentFolderId === folder.id) { %>
                        <option value="<%=folder.id%>" selected><%=folder.name%></option>
                    <% } else { %>
                        <option value="<%=folder.id%>"><%=folder.name%></option>
                    <% } %>
                <% }); %>
            </select>
            <button type="submit">Update</button>
        </form>
        <%- include('./partials/errors.ejs') %>
    </body>
</html>