<html lang="en">
    <head>
        <meta charset="utf-8">
        <title><%=title%></title>
        <link rel="stylesheet" href="/headerStyles.css">
        <link rel="stylesheet" href="/formStyles.css">
    </head>
    <body>
        <%- include('./partials/header.ejs') %>
        <main>
            <h1 class="update-folder title"><%=title%></h1>
            <form action="updateFolder" method="post" class="update-folder form">
                <label for="name" class="form label">Name:</label>
                <input type="text" id="name" name="name" maxlength="20" value="<%=currentFolder.name%>" class="form input" required>
                <label for="parentFolder" class="form label">Parent Folder:</label>
                <select name="parentFolderId" id="parentFolder" class="form input" required>
                    <% folders.forEach((folder) => { %>
                        <% if(currentFolder.parentFolderId === folder.id) { %>
                            <option value="<%=folder.id%>" selected><%=folder.name%></option>
                        <% } else { %>
                            <option value="<%=folder.id%>"><%=folder.name%></option>
                        <% } %>
                    <% }); %>
                </select>
                <button type="submit" class="form bttn">Update</button>
            </form>
            <%- include('./partials/errors.ejs') %>
        </main>
    </body>
</html>